* {
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

body {
  background-color: whitesmoke;
  display: block;
}

@font-face {
  font-family: customFont;
  src: url(./Font/Farmstand\ Market\ Regular.otf);
  src: url(./Font/Farmstand\ Market\ Regular.ttf);
}

.header-container {
  width: 100%;
  height: 100%;
  background: url(./assets/images/various-spices-and-herbs-website-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120px;
}

.logo {
  width: 15%;
  height: 15%;
  box-shadow: 2px 2px 1px 1px rgb(111, 106, 103);
  border-radius: 2px;
  /*  min-height: 120px; */
}

.hdr {
  display: flex;
  font-size: 80px;
  width: 20%;
  font-family: "customFont", Arial, Helvetica, sans-serif;
  font-weight: bold;
  min-height: 120px;
  min-width: 150px;
  color: white;
}

.container {
  display: flex;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-item {
  height: 50%;
  display: inline-flex;
  border-radius: 10px 10px 10px 10px;
  /*align-items: stretch*/
}

.card-content {

  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: hidden ; 
}

.horizontal {
  border-radius: 100px;

  flex-direction: column;  
}


.horizontal a img {
  max-width: 100%;
  width: 100%;
  border: solid 1px black;
  border-radius: 100px 100px 0 0;
}




.card-title { 
  display: block;
  padding-right: 10px;
  border-right: 1px solid black;
  max-height: 100%;

}

#card-summary-1, #card-summary-2, #card-summary-3, #card-summary-4 {
  padding-left: 10px;
}


#favourites {
  display: block;
  width: 100%;
}

#favourite-items {
  display: block;

  overflow-y: scroll;
  height: 860px;
  width: 100%;
}

.star {
  color: rgb(255, 203, 0);
}

.btn {
  border-radius: 10px;
}

.favourite-item {
  background-color: rgb(19, 162, 162);
  padding: 2%;
  width: 96%;
  height: fit-content;
  margin: 2%;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 203, 0);
}

.favourite-item h6 {
  font-size: 1.15rem;
  font-weight: 400;
}

#search-wrapper {
  width: 35%;
}

#mealtime-filter {
  display: flex;
  align-items: baseline;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#search-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-result {
  width: 100%;
}

.section {
  text-align: center;
}

.footer #button {
  width: 35px;
  height: 35px;
  border: black 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.footer #button:hover {
  width: 35px;
  height: 35px;
  border: black 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 3em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}

.footer #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: red(255, 0, 0);
}

.footer #cont {
  position: relative;
  top: -45px;
  right: 190px;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.footer_center {
  width: 500px;
  float: left;
  text-align: center;
}

.footer h3 {
  font-family: "Helvetica";
  font-size: 20px;
  font-weight: 100;
  margin-top: 70px;
  margin-left: 40px;
}

@media screen and (max-width: 992px) {
  .logo {
    width: 150px;
    height: 150px;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #search-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #search-result {
    width: 100%;
  }

  #favourites {
    width: 100%;
    flex-direction: column;
  }

  #favourite-items {
    display: flex;
    width: 80%;
    flex-direction: column;
  }

  .recipe-item {
    display: inline-flex;
  }

}

@media screen and (max-width: 606px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  #favourites {
    width: 100%;
  }

  #favourite-items {
    display: block;
  }
  .card-content {
    height: 100%;
  }


  .recipe-item {
    width: 100%;
    height: auto;

  }
}
