* {
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
  display: block;
}

.logo {
  width: 15%;
  height: 15%;
  box-shadow: 2px 2px 1px 1px rgb(111, 106, 103);
  border-radius: 2px;
/*  min-height: 120px; */
}

@font-face {
  font-family: customFont;
  src: url(./Font/Farmstand\ Market\ Regular.otf);
  src: url(./Font/Farmstand\ Market\ Regular.ttf);
}

.header-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 120px;
}

.hdr {
  display: flex;
  font-size: 80px;
  width: 20%;
  font-family: 'customFont', Arial, Helvetica, sans-serif;
  font-weight: bold;
  min-height: 120px;
  min-width: 150px;
  color: white;
} 

.container {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.recipe-item {
  height: 200px;
}

#video-item {
    width:100%; 
}

#video-title {
    padding: 2%; 
    margin: 2%; 
}

#player {
    width:100%; 
    border: 3px solid red; 
}


.section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: black 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: black 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 3em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: red(255, 0, 0);
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: 100;
	margin-top: 70px;
	margin-left:40px;
}

@media screen and (max-width: 992px) {
  .logo {
    width: 150px; 
    height: 150px; 
  }
}